.date-picker-contaienr {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  user-select: none;
}
.date-picker-contaienr.show {
  display: flex;
}
.date-picker-contaienr.full {
  background-color: rgba(0, 0, 0, 0.7);
}


.date-picker-contaienr .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.date-picker-contaienr .date-picker {
  width: 100%;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}
.date-picker-contaienr.full .date-picker {
  width: 360px;
  max-width: calc(100% - 24px);
  background-color: #fff;
}


.date-picker-contaienr .date-picker .year-months-area {
  width: 100%;
  display: block;
  position: relative;
}
.date-picker-contaienr .date-picker .year-months-area .month-list-area {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.date-picker-contaienr .date-picker .year-months-area .month-list-area > div {
  font-size: 12px;
  color: #222;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  position: relative;
}
.date-picker-contaienr .date-picker .year-months-area .month-list-area > div:hover {
  background-color: #eee;
}
.date-picker-contaienr .date-picker .year-months-area .month-list-area > div.selected {
  background-color: #f2d023;
}
.date-picker-contaienr .date-picker .year-months-area .month-list-area > div.blocked {
  background-color: #ddd;
  cursor: default;
}
.date-picker-contaienr .date-picker .year-months-area .month-list-area > div.blocked.selected {
  background-color: #dec963;
  cursor: default;
}
.date-picker-contaienr .date-picker .year-months-area .month-list-area > div.blocked:hover {
  background-color: #ddd;
}
.date-picker-contaienr .date-picker .year-months-area .month-list-area > div.blocked .wrapper {
  color: #999;
}

.date-picker-contaienr .date-picker .year-month-dates-area {
  width: 100%;
  display: block;
  position: relative;
}
.date-picker-contaienr .date-picker .top-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4px 6px;
  position: relative;
  background-color: #eee;
  font-size: 14px;
  color: #222;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.date-picker-contaienr .date-picker .top-row .year-month-area {
  margin: 0 6px;
}

.move-to-month-button-icon-button {
  cursor: pointer;
  padding: 0 6px;
}
.move-to-month-button-icon-button .move-to-month-button-icon {
  stroke: #999;
}
.move-to-month-button-icon-button:hover .move-to-month-button-icon {
  stroke: #333;
}

.date-picker-contaienr .date-picker .year-month-dates-area .day-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  font-size: 12px;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}
.date-picker-contaienr .date-picker .year-month-dates-area .day-row > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 4px 0;
}
.date-picker-contaienr .date-picker .year-month-dates-area .day-row > div:first-child {
  color: #f00;
}
.date-picker-contaienr .date-picker .year-month-dates-area .day-row > div:last-child {
  color: rgb(38, 138, 237);
}

.date-picker-contaienr .date-picker .year-month-dates-area .dates-area {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  font-size: 12px;
}
.date-picker-contaienr .date-picker .year-month-dates-area .dates-area > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}
.date-picker-contaienr .date-picker .year-month-dates-area .dates-area > div .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 6px 0;
  cursor: pointer;
  position: relative;
}
.date-picker-contaienr .date-picker .year-month-dates-area .dates-area > div.selected {
  background-color: #fde047;
}
.date-picker-contaienr .date-picker .year-month-dates-area .dates-area > div:nth-child(7n + 1) {
  color: #f00;
}
.date-picker-contaienr .date-picker .year-month-dates-area .dates-area > div:nth-child(7n) {
  color: rgb(38, 138, 237);
}

.date-picker-contaienr .date-picker .year-month-dates-area .dates-area > div.prev-or-next-month-date {
  color: #bbb;
}
.date-picker-contaienr .date-picker .year-month-dates-area .dates-area > div:nth-child(7n + 1).prev-or-next-month-date {
  color: rgb(238, 153, 153);
}
.date-picker-contaienr .date-picker .year-month-dates-area .dates-area > div:nth-child(7n).prev-or-next-month-date {
  color: rgb(173, 199, 226);
}

.date-picker-contaienr .date-picker .year-month-dates-area .dates-area > div.blocked {
  background-color: #dfdfdf;
  color: #bbb;
}
.date-picker-contaienr .date-picker .year-month-dates-area .dates-area > div.blocked.selected {
  background-color: #d6bc36;
  color: #fff;
}
.date-picker-contaienr .date-picker .year-month-dates-area .dates-area > div.blocked.selected.prev-or-next-month-date {
  background-color: #c6b663;
  color: #fff;
}
.date-picker-contaienr .date-picker .year-month-dates-area .dates-area > div.blocked.selected:hover {
  background-color: #dccb76;
}
.date-picker-contaienr .date-picker .year-month-dates-area .dates-area > div:nth-child(7n + 1).blocked {
  color: rgb(238, 153, 153);
}
.date-picker-contaienr .date-picker .year-month-dates-area .dates-area > div:nth-child(7n).blocked {
  color: rgb(173, 199, 226);
}
.date-picker-contaienr .date-picker .year-month-dates-area .dates-area > div.blocked .wrapper {
  cursor: default;
  /* opacity: 0.5; */
}
.date-picker-contaienr .date-picker .year-month-dates-area .dates-area > div.blocked:hover {
  background-color: #ddd;
}

.date-picker-contaienr .date-picker .year-month-dates-area .dates-area > div:hover {
  background-color: #eee;
}
.date-picker-contaienr .date-picker .year-month-dates-area .dates-area > div.selected:hover {
  background-color: #f2d023;
}

.lock-icon-container {
  position: absolute;
  top: 2px;
  right: 2px;
}
.lock-icon-container > svg {
  stroke: #999;
}

.date-picker-contaienr .date-picker .year-month-dates-area .dates-area > div .today-symbol {
  width: 6px;
  height: 6px;
  border-radius: 100px;
  font-size: 8px;
  background-color: #18a481;
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.date-picker-contaienr .date-picker .year-month-dates-area .dates-area > div.prev-or-next-month-date .today-symbol {
  background-color: #78e9cd;
} 



.date-picker-contaienr .date-picker .times-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 6px 0;
}
.date-picker-contaienr .date-picker .times-area .time-block {
  display: inline-flex;
  flex-wrap: wrap;
  margin-right: 6px;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
  color: #222;
}
.date-picker-contaienr .date-picker .times-area .time-block:last-child {
  margin-right: 0;
}
.date-picker-contaienr .date-picker .times-area .time-block .select-box {
  display: inline-flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  padding: 2px 4px;
  margin-right: 4px;
}

.hidden {
  display: none !important;
}


.date-picker-contaienr .date-picker .range-state-area {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  position: relative;
  border-bottom: 1px solid #ccc;
}


.range-item-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  font-size: 12px;
  color: #222;
  letter-spacing: -0.5px;
  border: 1px solid #ccc;
  align-items: center;
  justify-content: flex-start;
  padding: 2px 0;
  cursor: pointer;
}
.range-item-container:hover {
  border: 1px solid rgba(0, 0, 0, 0);
  outline: 2px solid #ffe19a;
}
.range-item-container.selected {
  border: 1px solid rgba(0, 0, 0, 0);
  outline: 2px solid #f7ae05;
}
.range-item-container.selected:hover {
  border: 1px solid rgba(0, 0, 0, 0);
  outline: 2px solid #f78205;
}

.range-item-container .label {
  display: inline-flex;
  position: relative;
  width: 40px;
  justify-content: center;
  color: #666;
}
.range-item-container .date-input {
  display: inline-flex;
  position: relative;
  --tw-numeric-spacing: tabular-nums;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction);
  border: 0;
  outline: none;
  cursor: pointer;
}
.range-item-container .date-input:focus {
  border: 0;
  outline: none;
  cursor: pointer;
}
.range-item-container .time-unit-list {
  display: inline-flex;
  position: relative;
}
.range-item-container .time-unit-list > div {
  display: inline-flex;
  --tw-numeric-spacing: tabular-nums;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction);
}
.range-item-container .time-unit-list > div > select {
  cursor: pointer;
}

/* layoutType: month */
.range-item-container.month .label {
  width: 40px;
}
.range-item-container.month .date-input {
  width: calc(100% - 40px);
}
.range-item-container.month .time-unit-list {
  display: none;
}
.range-item-container.month .time-unit-list .hour-block {

}
.range-item-container.month .time-unit-list .minute-block {

}
.range-item-container.month .time-unit-list .minute-block {

}

/* layoutType: date */
.range-item-container.date .label {
  width: 40px;
}
.range-item-container.date .date-input {
  width: calc(100% - 40px);
}
.range-item-container.date .time-unit-list {
  display: none;
}
.range-item-container.date .time-unit-list .hour-block {

}
.range-item-container.date .time-unit-list .minute-block {

}
.range-item-container.date .time-unit-list .minute-block {

}

/* layoutType: datetime-hour */
.range-item-container.datetime-hour .label {
  width: 40px;
}
.range-item-container.datetime-hour .date-input {
  width: 90px;
}
.range-item-container.datetime-hour .time-unit-list {
  width: calc(100% - (40px + 90px));
}
.range-item-container.datetime-hour .time-unit-list .hour-block {
  display: inline-flex;
}
.range-item-container.datetime-hour .time-unit-list .minute-block {
  display: none;
}
.range-item-container.datetime-hour .time-unit-list .minute-block {
  display: none;
}

/* layoutType: datetime-hour-minute */
.range-item-container.datetime-hour-minute .label {
  width: 40px;
}
.range-item-container.datetime-hour-minute .date-input {
  width: 90px;
}
.range-item-container.datetime-hour-minute .time-unit-list {
  width: calc(100% - (40px + 90px));
}
.range-item-container.datetime-hour-minute .time-unit-list .hour-block {
  display: inline-flex;
}
.range-item-container.datetime-hour-minute .time-unit-list .minute-block {
  display: inline-flex;
}
.range-item-container.datetime-hour-minute .time-unit-list .minute-block {
  display: none;
}

/* layoutType: datetime-hour-minute-second */
.range-item-container.datetime-hour-minute-second .label {
  width: 40px;
}
.range-item-container.datetime-hour-minute-second .date-input {
  width: 90px;
}
.range-item-container.datetime-hour-minute-second .time-unit-list {
  width: calc(100% - (40px + 90px));
}
.range-item-container.datetime-hour-minute-second .time-unit-list .hour-block {
  display: inline-flex;
}
.range-item-container.datetime-hour-minute-second .time-unit-list .minute-block {
  display: inline-flex;
}
.range-item-container.datetime-hour-minute-second .time-unit-list .minute-block {
  display: inline-flex;
}

/* layoutType: time-hour */
.range-item-container.time-hour .label {
  width: 40px;
}
.range-item-container.time-hour .date-input {
  display: none;
}
.range-item-container.time-hour .time-unit-list {
  width: calc(100% - 40px);
}
.range-item-container.time-hour .time-unit-list .hour-block {
  display: inline-flex;
}
.range-item-container.time-hour .time-unit-list .minute-block {
  display: none;
}
.range-item-container.time-hour .time-unit-list .minute-block {
  display: none;
}

/* layoutType: time-hour-minute */
.range-item-container.time-hour-minute .label {
  width: 40px;
}
.range-item-container.time-hour-minute .date-input {
  display: none;
}
.range-item-container.time-hour-minute .time-unit-list {
  width: calc(100% - 40px);
}
.range-item-container.time-hour-minute .time-unit-list .hour-block {
  display: inline-flex;
}
.range-item-container.time-hour-minute .time-unit-list .minute-block {
  display: inline-flex;
}
.range-item-container.time-hour-minute .time-unit-list .minute-block {
  display: none;
}

/* layoutType: time-hour-minute-second */
.range-item-container.time-hour-minute-second .label {
  width: 40px;
}
.range-item-container.time-hour-minute-second .date-input {
  display: none;
}
.range-item-container.time-hour-minute-second .time-unit-list {
  width: calc(100% - 40px);
}
.range-item-container.time-hour-minute-second .time-unit-list .hour-block {
  display: inline-flex;
}
.range-item-container.time-hour-minute-second .time-unit-list .minute-block {
  display: inline-flex;
}
.range-item-container.time-hour-minute-second .time-unit-list .minute-block {
  display: inline-flex;
}